.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 0;
  left: 0;
}
.sideWrapper {
  /* padding: 3rem; */
  padding-left: 1rem;
  width: 90%;
  color: #555;
  /* border-right: 2px solid rgba(202, 191, 191, 0.5); */
}
.brand {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.brandName {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(65, 67, 187);
  padding: 1rem;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sidebarMenu {
  margin-bottom: 0.63rem;
}
.sidebarTitle {
  font-size: 1rem;
  color: rgb(4, 6, 109);
  margin-bottom: 1rem;
}
.sidebarList {
  list-style: none;
  /* background: rgb(236, 226, 227); */
  padding: 0.3rem;
}
.sidebarListItem {
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;

  margin-bottom: 1rem;
  transition: 100ms;
  width: 98%;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
  color: blue;
  border-right: 3px solid blue;
}
.sidebarIcon {
  margin-right: 0.3rem;
  font-size: 1.3rem !important;
}
