/* progress::-webkit-progress-value {
  background: rgb(255, 165, 0);
}
progress::-moz-progress-bar {
  background: rgb(255, 165, 0);
}

progress {
  color: rgb(255, 165, 0);
} */

.widgetSm {
  flex: 1;
  padding: 20px;
  height: 100%;
}
.outer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notif-edit-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(202, 191, 191, 0.5);
}
.notif-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: rgb(2, 2, 122);
}
.img-container {
  /* margin-top: 3rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.pulsa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
  width: 100%;
  height: 15rem;
}
.widgetSmPulsa {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.prod-followers {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(202, 191, 191, 0.5);
  margin-bottom: 2rem;
  height: 3rem;
  padding-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
.icon-container {
  padding-right: 10px;
}
.prod {
  height: 90%;
  display: flex;
  justify-content: left;
  border-right: 2px solid rgba(202, 191, 191, 0.5);
  padding-left: 5px;
}
.numb {
  font-weight: 900;
  /* color: rgb(2, 2, 122); */
  color: blue;
  width: 100%;
  font-size: 0.8rem;
}
.icon {
  color: blue;
}
.item {
  font-weight: 900;
  color: rgba(2, 2, 122, 0.5);
  width: 100%;
  font-size: 0.7rem;
  padding: 5px;
}
.followers {
  height: 90%;
  display: flex;
  justify-content: left;
  font-size: 0.8rem;
  padding-left: 5px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
.star-icon {
  color: orange;
  font-size: 1rem;
}
.star-icon-container {
  padding: 3px;
  background: rgba(255, 165, 0, 0.15);
  border-radius: 4px;
  margin-left: 3px;
}
.title-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.title-container-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.widgetSmTitle {
  font-size: 3rem;
  font-weight: bold;
  color: blue;
}
.widgetSmTitle {
  color: blue;
  font-size: 1rem;
  font-weight: bold;
}
.see-all {
  color: rgba(0, 0, 255, 0.5);
  font-weight: bold;
}
.widgetSmImg {
  height: 2.5rem;
  width: 2.5rem;
  /* height: 40px;
  width: 40px; */
  border-radius: 50%;
  object-fit: cover;
}
.widgetSmList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetSmListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
}
.reputation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;
  border-radius: 4px;
  border: 2px solid rgba(202, 191, 191, 0.5);
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7px;
}
.star-container {
  width: 100%;
  display: flex;
  /* margin: 2rem; */
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.8rem;
  font-weight: 900;
  color: blue;
}
.widgetSmUser {
  display: flex;
  flex-direction: column;
}
.widgetSmUsername {
  font-weight: 600;
}
.widgetSmTitle {
  font-weight: 600;
  font-size: 1.3rem;
}
.widgetSmPrice {
  color: rgba(0, 128, 0, 0.5);
}
td {
  margin-bottom: 1rem;
}
td > span {
  font-size: 0.8rem;
}
